.PanelHeader {

    display: flex;

    align-items: center;

    justify-content: center;

}

.PanelHeader h1 {

    margin: 0;

    font-size: 2rem;

    font-weight: 700;

}

.PanelHeader-Black {

    color: #111;

}

.PanelHeader-Orange {

    color: #ff7b00;

}